# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app


cmake-build-debug/
cmake-build-debug-mingw/
cmake-build-debug-mingw-coverage/
cmake-build-debug-wsl/
cmake-build-debug-wsl-coverage/
build-SudokuMadnessQT-Desktop_Qt_5_15_2_MinGW_64_bit-Debug/
lib/
test_data/
SudokuMadnessQT.pro.user